@page "/computadores"
@attribute [StreamRendering]
@using MudBlazor
@using Sigti.Application.DTO
@using Sigti.Application.Interfaces
@inject IComputadorQueryHandler query
<h3>Computadores</h3>

<MudDataGrid Items="@Computadors">
    <Columns>
        <PropertyColumn Property="x => x.dataModificacao" Title="Nr" />
        <PropertyColumn Property="x => x.hostName" />
        <PropertyColumn Property="x => x.patrimonio" />
        <PropertyColumn Property="x => x.setorId" />
        <PropertyColumn Property="x => x.localizacaoId" Title="Molar mass" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Hire</MudButton>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Secondary">Hire</MudButton>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Tertiary">Hire</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
@code {
    private IEnumerable<ListaComputadorGridDTO> Computadors = new List<ListaComputadorGridDTO>();

    protected override async Task OnInitializedAsync()
    {
        Computadors = await query.GridComputadores();
    }
}
