@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Color="Color.Info" Dense="false" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Fluid="true" Src="logoSig.png" Alt="SG" Elevation="0" Width="40" />


        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ThemeChange())" />
    </MudAppBar>

    <MudDrawer class="bg-dark bg-opacity-10" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>

        <div class="p-3">@Body</div>

    </MudMainContent>

</MudLayout>
@code {
    bool _drawerOpen = true;
    bool _isDarkMode = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void ThemeChange()
    {
        _isDarkMode = !_isDarkMode;
    }
}