@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<MudThemeProvider IsDarkMode=@_isDarkMode />
<MudDialogProvider />
<MudSnackbarProvider />



<MudLayout>

    <AuthorizeView>

        <MudAppBar Color="Color.Default" Dense="true" Elevation="10">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudImage Fluid="true" Src="logoSig.png" Alt="SG" Elevation="0" Width="40" />



            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ThemeChange())" />
            <MudMenu Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopLeft">
                <MudMenuItem>Perfil</MudMenuItem>
              <Main2/>
            </MudMenu>
        </MudAppBar>

        <MudDrawer Elevation="10" Width="200px" Class="pt-3" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
            <NavMenu />
        </MudDrawer>

    </AuthorizeView>

    <MudMainContent>
        <MudAppBar Style="position:static" Color="Color.Transparent" Dense="true" Elevation="25">
            <MudIcon Icon="@Icons.Material.Filled.MapsHomeWork" />  <MudText Typo="Typo.subtitle1">&nbsp;  / @Program.siteMap</MudText>
        </MudAppBar>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pt-5">

            @Body
        </MudContainer>
    </MudMainContent>

</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    bool _drawerOpen = true;
    bool _isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void ThemeChange()
    {
        _isDarkMode = !_isDarkMode;
    }

   
}