@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Style="background-color:#001529" Dense="false" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Fluid="true" Src="logoSig.png" Alt="SG" Elevation="0" Width="40" />


        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ThemeChange())" />
    </MudAppBar>

    <MudDrawer Width="200px" Class="pt-3" Style="background-color:#222" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
        <NavMenu  />
    </MudDrawer>
    <MudMainContent>

        <div class="p-5">@Body</div>

    </MudMainContent>

</MudLayout>
@code {
    bool _drawerOpen = true;
    bool _isDarkMode = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void ThemeChange()
    {
        _isDarkMode = !_isDarkMode;
    }
}