@inherits LayoutComponentBase

@rendermode RenderMode.InteractiveServer
<MudThemeProvider IsDarkMode=@_isDarkMode />
<MudDialogProvider />
<MudSnackbarProvider /> 

<AuthorizeView>

    <MudAppBar 
 Style="background-color:#42658b" Dense="true" Elevation="10">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Fluid="true" Src="logoSig.png" Alt="SG" Elevation="0" Width="40" />


       
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.DarkMode" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => ThemeChange())" />

    </MudAppBar>
   
    <MudDrawer  Elevation="10" Width="200px" Class="pt-3" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Variant="DrawerVariant.Temporary">
        <NavMenu  />
    </MudDrawer>
  
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    bool _drawerOpen = true;
    bool _isDarkMode = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void ThemeChange()
    {
        _isDarkMode = !_isDarkMode;
    }
}