@page "/setores/lista"
@attribute [StreamRendering]
@using MudBlazor
@using Sigti.Application.DTO
@using Sigti.Application.Interfaces
@inject ISetorQueryHandler query
<h3>Setores</h3>

<MudDataGrid Items="@Setores">
    <Columns>
        <PropertyColumn Property="x => x.dataModificacao" Title="Última Alteração" />
        <PropertyColumn Property="x => x.nome" Title="Nome" />
        <PropertyColumn Property="x => x.descricao" Title="Descrição" />
        <PropertyColumn Property="x => x.localizacaoId" Title="Localização" />
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Hire</MudButton>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Secondary">Hire</MudButton>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Tertiary">Hire</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
@code {
    private IEnumerable<ListaSetorGridDTO> Setores = new List<ListaSetorGridDTO>();

    protected override async Task OnInitializedAsync()
    {
        Setores = await query.GridSetores();
    }
}
