@page "/computador/lista"
@using Sigti.Application.DTO
@using Sigti.Application.Interfaces
@inject IComputadorQueryHandler Query
<h3>Lista de computadores</h3>
<MudDivider/>

<br />
<MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Info" StartIcon="@Icons.Material.Filled.Add">Adicionar Novo</MudButton>
<br /> 
<br /> 

<MudDataGrid Items="@Computadores" Striped="true" Bordered="true" Dense="true">
    <Columns>
        <HierarchyColumn T="ComputadorDTO"/>

        <PropertyColumn Property="x => x.HostName" Title="Nome do Host"  />
        <PropertyColumn Property="x => x.Patrimonio" Title="Patrimônio"  />
        <PropertyColumn Property="x => x.LocalizacaoId" Title="Localidade" />
        <PropertyColumn Property="x => x.SetorId" Title="Setor" />
        <PropertyColumn Property="x => x.DataModificacao" Title="Última atualização" />
        <TemplateColumn CellStyle="float: right;" Title="Ações">
            <CellTemplate>
                <MudStack Row>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Tertiary" StartIcon="@Icons.Material.Filled.Edit">Editar</MudButton>
                    <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error" StartIcon="@Icons.Material.Filled.Delete">Remover</MudButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText >@context.Item.Processador</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText> @context.Item.Memoria</MudText>
                <MudText> @context.Item.Disco</MudText>
                <MudText> @context.Item.Ip</MudText>
                <MudText> @context.Item.SistemaOperacional</MudText>
                <MudText> @context.Item.Anydesk</MudText>
                <MudText> @context.Item.Grupos</MudText>
                <MudText> @context.Item.Observacao</MudText>
            </MudCardContent>
        </MudCard>
    </ChildRowContent>
</MudDataGrid>
@code {
    private IEnumerable<ComputadorDTO> Computadores = new List<ComputadorDTO>();

    protected override async Task OnInitializedAsync()
    {
        Computadores = await Query.ListaCmputadores();
    }
}